{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/2318512d-968e-449d-a291-3eb7d0fe9b89.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">Black Ranger</h5>
        <p class="card-text text-dark">A master of the Java domain! The Green Ranger can help you with any of your Java needs.</p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>




<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/2318512d-968e-449d-a291-3eb7d0fe9b89.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">Black Ranger</h5>
        <p class="card-text text-dark">A master of the Java domain! The Green Ranger can help you with any of your Java needs.</p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>

{% endblock content %}