{% extends 'base.html' %}

{% block content %}
<h3>{{ headline }}</h3>
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/4fc24845-bb8f-4b68-8380-2fe7198f976a.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">{{ title }}</h5>
        <p class="card-text text-dark"> A master of the SQL and Postgresql domain! The Green Ranger can help you with any of your SQL or Postgresql needs.</p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>

{% endblock content %}