{% extends 'base.html' %}

{% block content %}

<h1>The Power Programmers!</h1>
<h3>We have mighty morphin' Power Programmers available to help you develop applications regardless of programming language. </h3>

<!-- {% if current_user.is_authenticated %}
    <h3>Welcome {{ current_user.username }}!</h3>
{% else %} 
    <h4>Welcome, please register using the link at the top if you would like to create your own posts</h4>
{% endif %}    
<br>

<h4>Your Blog!</h4>
{% for p in posts %}
    <br>
    <div class="card bg-light text-dark">
        <div class="card-header">
        {{ p.title }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ p.content }}</p>
                <footer class="blockquote-footer text-dark">{{ p.author.username }} on <cite title="Source Title">
                    {{ p.date_created.strftime('%A, %b %d, %Y at %I:%M%p') }}
                </cite></footer>
            </blockquote>
        </div>
    </div>   
{% endfor %} -->

<br>
<div class="row">
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/c24bc6fa-162d-4681-902a-b48e94f02909.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Red Ranger</h5>
                <p class="card-text text-dark">HTML</p>
            </div>
            <div class="card-body">
                <a href="/red_ranger" class="card-link">View Item</a>
            </div>
        </div>
    </div>
    
    <div class="col">       
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/81783ed4-4f7c-4de4-bc34-e0129618dcf5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Blue Ranger</h5>
                <p class="card-text text-dark">CSS</p>
            </div>
            <div class="card-body">
                <a href="/blue_ranger" class="card-link">View Item</a>
            </div>
        </div>
    </div>
        
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/4fc24845-bb8f-4b68-8380-2fe7198f976a.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Green Ranger</h5>
                <p class="card-text text-dark">Python</p>
            </div>
            <div class="card-body">
                <a href="/green_ranger" class="card-link">View Item</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/ab0ac0bd-5798-445b-9425-6b1a587f02d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Pink Ranger</h5>
                <p class="card-text text-dark">Flask</p>
            </div>
            <div class="card-body">
                <a href="/pink_ranger" class="card-link">View Item</a>
            </div>
        </div>
    </div>
</div>
    <br>   
<div class="row">    
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/2318512d-968e-449d-a291-3eb7d0fe9b89.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Black Ranger</h5>
                <p class="card-text text-dark">SQL</p>
            </div>
            <div class="card-body">
                <a href="/black_ranger" class="card-link">View Item</a>
            </div>
        </div>
    </div>
    <br>
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/fb17dd6e-3a50-4f8d-81fd-aa7fd13a90be.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Yellow Ranger</h5>
                <p class="card-text text-dark">JavaScript</p>
            </div>
            <div class="card-body">
                <a href="/yellow_ranger" class="card-link">View Item</a>
            </div>
        </div>
    </div>
    <br>
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/b1e1f4b7-8b40-4fa2-bb68-6ef0422c1d3d.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">The Power Rangers!</h5>
                <p class="card-text text-dark">The Full Stack</p>
            </div>
            <div class="card-body">
                <a href="/power_rangers" class="card-link">View Item</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="http://nerdist.com/wp-content/uploads/2016/04/Rita-Repulsa-Power-Rangers-1a.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-dark">Rita Repulsa</h5>
                <p class="card-text text-dark">'Ethical' Hacking</p>
            </div>
            <div class="card-body">
                <a href="/rita_repulsa" class="card-link">View Item</a>
            </div>
        </div>
    </div>
    <br>
    <div class="class pt-5">
        <h1> Go Go Power Rangers!</h1> 
    </div>   
</div>  

{% endblock %}