{% extends 'base.html' %}

{% block content %}
<h3>{{ headline }}</h3>
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/ab0ac0bd-5798-445b-9425-6b1a587f02d3.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">{{ title }}</h5>
        <p class="card-text text-dark">A master of the Javascript and React domain! The Green Ranger can help you with any of your Javascript or React needs.</p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>

{% endblock content %}