{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/b1e1f4b7-8b40-4fa2-bb68-6ef0422c1d3d.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">{{ title }}</h5>
        <p class="card-text text-dark">Together they can help you develop your wildest app dreams! <br><br></p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>

{% endblock content %}