{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/c24bc6fa-162d-4681-902a-b48e94f02909.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">Red Ranger</h5>
        <p class="card-text text-dark"> A master of the HTML and CSS domain! The Red Ranger can help you with any of your HTML/CSS needs. <br> <br></p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>

{% endblock content %}