{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="https://bbts1.azureedge.net/images/p/full/2020/12/fb17dd6e-3a50-4f8d-81fd-aa7fd13a90be.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">Yellow Ranger</h5>
        <p class="card-text text-dark">A master of the C# domain! The Green Ranger can help you with any of your C# needs.</p>
    </div>
    <div class="card-body">
        <a href="/cart" class="card-link">Add to Cart</a>
    </div>
</div>

{% endblock content %}